

  <div class="row justify-content-md-center">
      <div class="col-md-4">
          <img src="assets/images/password.png" width="250px" class="user-avatar" />
          <h1>Password Reset</h1>

          <form role="form"  #fpForm="ngForm">
              <div class="form-content">
                  <div class="form-group">
                          <input id="OldPassword" name="OldPassword" class="form-control input-underline input-lg" 
                          required minlength="6" 
                          [(ngModel)]="studentService.resetPassword.OldPassword" #OldPassword="ngModel" placeholder="Old Password">
          
                    <div *ngIf="OldPassword.invalid && (OldPassword.dirty || OldPassword.touched)"
                        class="alert alert-danger">
          
                        <div *ngIf="OldPassword.errors.required">
                         Password is required.
                        </div>
                        <div *ngIf="OldPassword.errors.minlength">
                          Password must be at least 6 characters long.
                        </div>
          
                    </div>
                  </div>

                  <div class="form-group">
                    <input id="NewPassword" name="NewPassword" class="form-control input-underline input-lg" 
                    required minlength="6" 
                    [(ngModel)]="studentService.resetPassword.NewPassword" #NewPassword="ngModel" placeholder="New Password">
    
              <div *ngIf="NewPassword.invalid && (NewPassword.dirty || NewPassword.touched)"
                  class="alert alert-danger">
    
                  <div *ngIf="NewPassword.errors.required">
                   Password is required.
                  </div>
                  <div *ngIf="NewPassword.errors.minlength">
                    Password must be at least 6 characters long.
                  </div>
    
              </div>
            </div>
                  
              </div>
              <input type="button" class="btn btn-default" (click)="onConfirm(fpForm)" [disabled]="fpForm.invalid" value="Change">
              &nbsp;<input type="button" class="btn btn-default" [routerLink]="['/login']" value="Back">
             
          </form>
</div>
 
</div>



